{{#each blogs}}
<div class="blogPost">
  <div class="row blogTitle">
    <a href=./{{id}}>{{title}}</a>
    <div id="dateAuthor">Posted on {{format_date createdAt}} by {{user.display_name}}<br/><br/></div>
     <div class="row blogContent">{{content}}
  </div>
  </div>
</div>
<hr>
{{/each}}