
<h2>Hi, {{users.first_name}}!</h2>
<!-- Modal Trigger -->

<a class="waves-effect waves-light btn modal-trigger" href="#modal1">New Blog Post</a>

{{!-- Blog and comment display content --}}


{{#each blogs}}
<div class="blogPost">
  <div class="row blogTitle">
    <a href=./blogs/{{id}}>{{title}}&nbsp;&nbsp;<img src="./assets/images/edit.png"></a>
    <div id="dateAuthor">Posted on {{format_date createdAt}} by {{user.display_name}}<br/><br/></div>
     <div class="row blogContent">{{content}}
  </div>
  </div>
 
</div>
<hr>
{{/each}}


{{!-- New Post Modal --}}
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="col-md-6">
      <h2>Post a new blog!</h2>

      <form class="form">
        <div class="form-group">
          <label for="blog-title">Title</label>
          <input class="form-input" type="text" id="blog-title" />
        </div>
        <div class="form-group">
          <label for="blog-content">Post</label>
          <textarea class="form-input" rows="20" type="text" id="blog-content"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" id="newPost" type="submit">Post Blog</button> <a href="#!"
            class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </form>

    </div>
  </div>
</div>